.main {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    padding-left: 243px;
    padding-right: 205px;
}

.main-people {
    display: flex;
    position: relative;
}

/* .main-people-2 {
    
}  */

.main-people-card-img {
    width: 100%;
    height: 75%;
}

.main-people-card-name {
    font-family: var(--font-family-pop);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: var(--text-color);
}

.main-people-job {
    font-family: var(--font-family-pt);
    font-weight: 400;
    font-size: 12px;
    line-height: 15.9px;
    color: var(--text-color);
    position: absolute;
    transform: rotate(90deg) translateY(-1400%) translateX(75%);
    transform-origin: bottom right;
    text-transform: uppercase;
}

.main-people-job-2 {
    transform: rotate(90deg) translateY(-1450%) translateX(70%);
}

.main-people-job-3 {
    transform: rotate(90deg) translateY(-1600%) translateX(65%);
}

.main-people-job-4, 
.main-people-job-5, 
.main-people-job-6 {
    transform: rotate(90deg) translateY(-1550%) translateX(70%);
}